<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/">iwallet</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/user">Me</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/goal">Goals</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/invest">Investments</a>
            </li>
            <li class="nav-item" class="dropdown show">
                <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Wallets
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a *ngFor="let account of accounts"  class="nav-link" routerLink="/">{{ account.major_category }} $
                        {{ account.current_balance.num }}</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
