.select-type-wallet{
    margin-bottom: 50px;
}
.select-type-wallet a{
    width: calc(50% - 2px);
    height: 100px;
    margin: 1px;
    display: inline-block;
    padding: 15px;
    font-size: 25px;
}
.goal-select{
    color: white;
    background-color: #48c765cc;
    
}
.basic-select{
    color: white;
    background-color: #6ed2e2;
}