<h4>Add Transaction</h4>
<form class="form">
    <mat-form-field class="form-full-width">
        <input type="number" matInput placeholder="Amount of money">
    </mat-form-field>
    <mat-form-field class="form-full-width">
        <input matInput placeholder="Category">
    </mat-form-field>
    <mat-form-field class="form-full-width">
        <input matInput placeholder="Description">
    </mat-form-field>
    <mat-form-field class="form-full-width">
        <input matInput type="datetime" placeholder="Issued date">
    </mat-form-field>
</form>