<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="overview">
                <h4>Overview</h4>
                <div><span class="report-label">Inflow</span> $ 500</div>
                <div><span class="report-label">Outflow</span> $ 500</div>
                <hr>
                <h6><span class="report-label">Balance</span> $ 500</h6>
            </div>
            <div class="btn-controls">
                <button mat-flat-button color="primary" (click)="openAddinvestDialog()">Add transaction</button>
                <button mat-flat-button color="primary" (click)="openAddinvestDialog()">Optimite</button>
            </div>
        </div>
        <div class="col-md-8">
            <div class="detail">
                <h4>Detail</h4>
                <div class="date-container">
                    <div class="date-overview">
                        <nav class="date-number">
                            <span>08</span>
                        </nav>
                        <nav class="date-title">
                            <div>Today</div>
                            <span>October 2019</span>
                        </nav>
                        <nav class="money-amount">$ 5</nav>
                    </div>
                    <div class="row transaction-container">
                        <nav class="transaction-icon">
                            <img src="../../../../assets/img/icons8-food-100.png">
                        </nav>
                        <nav class="transaction-title">
                            <div>Food</div>
                            <span>My dinner</span>
                        </nav>
                        <nav class="money-amount">$ 5</nav>
                    </div>
                    <div class="row transaction-container">
                        <nav class="transaction-icon">
                            <img src="../../../../assets/img/icons8-food-100.png"> </nav>
                        <nav class="transaction-title">
                            <div>Food</div>
                            <span>My dinner</span>
                        </nav>
                        <nav class="money-amount">$ 5</nav>
                    </div>
                    <div class="row transaction-container">
                        <nav class="transaction-icon">
                            <img src="../../../../assets/img/icons8-food-100.png"> </nav>
                        <nav class="transaction-title">
                            <div>Food</div>
                            <span>My dinner</span>
                        </nav>
                        <nav class="money-amount">$ 5</nav>
                    </div>
                    <div class="row transaction-container">
                        <nav class="transaction-icon">
                            <img src="../../../../assets/img/icons8-food-100.png"> </nav>
                        <nav class="transaction-title">
                            <div>Food</div>
                            <span>My dinner</span>
                        </nav>
                        <nav class="money-amount">$ 5</nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>