nav {
  display: inline-block;
}
.date-number {
  font-size: 55px;
  width: 150px;
}
img {
  width: 60px;
  display: inline-block;
}
.date-overview {
  border-bottom: solid 1px;
}
.money-amount {
  vertical-align: super;
  font-size: 30px;
}
.date-title {
  width: 200px;
}
.overview {
  margin: 20px;
}
